@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-container: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: red;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.header{
  display: flex;
  position: relative;
  color: #0a0a0a;
  line-height: 0.7;
}

.judul{
  position: relative;
  background-color: var(--bg-container);
  border-radius: 20px 20px 0 0;
  padding: 20px 20px 10px;
}

.judul::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: -20px;
  background: radial-gradient(
    circle at top right,
    transparent 20px,
    var(--bg-container) 20px
  );
}

.body-card{
  background-color: var(--bg-container);

}
